<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Calli</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
      
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/img">캘리오는 밤</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/logout">로그아웃</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/banner">이미지 등록</a></li>
          <li><a href="/push">푸시 등록</a></li>
        </ul>
      </div><!-- /.container-fluid -->
    </nav>
      
    <div class="container">
      <div class="explan">
        <ul>
          <li>배너 등록</li>
        </ul>
      </div>
      <table class="table">
        <form action="upload" method="post" enctype="multipart/form-data">
          <tr>
            <td>등록 및 예약일</td>
            <td>
              <input name="date" type="date" value="<%= date %>">
              <select name="time">
                <% for(var i=1; i<=24; i++) {%>
                  <% if(i==time) {%>
                    <option value="<%= i %>" selected><%=i%></option>
                  <% } else {%>
                    <option value="<%= i %>"><%=i%></option>
                <% } } %>
              </select> 시 
              <select name="min">
                <% for(var i=1; i<=60; i++) {%>
                  <% if(i==min) {%>
                    <option value="<%= i %>" selected><%=i%></option>
                  <% } else {%>
                    <option value="<%= i %>"><%=i%></option>
                <% } } %>
              </select> 분
            </td>
          </tr>
          <tr>
            <td>이미지</td>
            <td>
              
                <input class="btn btn-link" name="img" type="file">
                <input class="btn btn-default" type="submit"></input>
              
            </td>
          </tr>
        </form>
      </table>
      
    </div> <!-- end of container -->
    
  </body>
</html>
