<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Calli</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
      
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/img">캘리오는 밤</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/logout">로그아웃</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/banner">이미지 등록</a></li>
          <li><a href="/push">푸시 등록</a></li>
        </ul>
      </div><!-- /.container-fluid -->
    </nav>
      
    <div class="container">
      <div class="date">
        <!--<button class="btn btn-default" type="submit">오늘</button>-->
        <!--<button class="btn btn-default" type="submit">1주일</button>-->
        <!--<button class="btn btn-default" type="submit">1개월</button>-->
        <!--<button class="btn btn-default" type="submit">3개월</button>-->
        <!--<button class="btn btn-default" type="submit">6개월</button>-->
        <!--<button class="btn btn-default" type="submit">12개월</button>-->
      </div>
      
      <div class="explan">
        <ul>
          <li>이미지 총 <%= count %>건 등록</li>
          <!--<li>조회수 순</li>-->
          <!--<li>다운수 순</li>-->
        </ul>
      </div>
      
      <div class="img_list">
        <table class="table table-hover">
          <thead>
            <td>No</td>
            <td>등록일</td>
            <td>리스트 이미지</td>
            <td>조회수</td>
            <td>다운수</td>
            <td>수정</td>
            <td>삭제</td>
          </thead>
          <% for(var i in image){ %>
            <tr>
              <td><%= image[i].id %></td>
              <td><%= image[i].created_at %></td>
              <td><img class="mini_img" src="/show/<%= image[i].name %>" alt="<%= image[i].name %>"></img></td>
              <td><%= image[i].click %></td>
              <td><%= image[i].down %></td>
              <td>
                <form method="GET" action="/update/img/<%= image[i].id %>">
                  <input class="btn btn-default disabled" type="submit" value="수정">
                </form>
              </td>
              <td>
                <form method="GET" action="/delete/img/<%= image[i].id %>">
                  <input class="btn btn-default" type="submit" value="삭제">
                </form>
              </td>
            </tr>
          <% } %>
          
        </table>
      </div>
      
    </div>  
  </body>
</html>
