<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Calli</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
 

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/img">캘리오는 밤</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/logout">로그아웃</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/banner">이미지 등록</a></li>
          <li><a href="/push">푸시 등록</a></li>
        </ul>
      </div><!-- /.container-fluid -->
    </nav>
      
    <div class="container">
      <div class="explan">
        <ul>
          <li>자동푸시 총 <%= count %>건</li>
        </ul>
      </div>
      <table class="table">
        <thead>
          <td>구분</td>
          <td>내용</td>
          <td>상태</td>
        </thead>
        <% for(var i in push){ %>
          <tr>
            <td><%= push[i].created_at %></td>
            <td><%= push[i].content %></td>
            <td>
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#update_<%= push[i].id %>">
                수정
              </button>
              <!-- Modal -->
              <div class="modal fade" id="update_<%= push[i].id %>" tabindex="-1" role="dialog" aria-labelledby="updateModal_<%= push[i].id %>">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="updateModal_<%= push[i].id %>">알림 수정하기</h4>
                    </div>
                    <form method="POST" action="/update/push/<%= push[i].id %>">
                      <div class="modal-body">
                        <textarea name="content" class="form-control" rows="3"><%= push[i].content %></textarea>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        <% } %>
      </table>
      
      <!-- Button trigger modal -->
      <div class="col-md-1 col-md-offset-11 col-sm-1 col-sm-offset-11">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          푸시 등록
        </button>
      </div>
      
      
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">push 등록하기</h4>
            </div>
            <form method="POST" action="/create">
            <div class="modal-body">
              <input name="date" type="date" class="form-control" value="<%= date %>">
              <textarea name="content" class="form-control" rows="3"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </form>
          </div>
        </div>
      </div>      
      
    </div> <!-- end of container -->
  </body>
</html>
